{
  "urls": [
    {
      "url": "http://ok321.top/ok",
      "name": "👌OK"
    },
    {
      "url": "${URL}/localPackages/zx/FongMi.json",
      "name": "🌻真心"
    },
    {
      "url": "${URL}/localPackages/pg/jsm.json",
      "name": "🐬PG"
    },
    {
      "url": "http://www.饭太硬.com/tv/",
      "name": "🏄‍♂️饭太硬"
    },
    {
      "url": "http://肥猫.live",
      "name": "🐱肥猫"
    },
    {
      "url": "http://tv.nxog.top/m/",
      "name": "🧢讴歌"
    },
    {
      "url": "https://3450.kstore.space/DEMO.json",
      "name": "🍙小米"
    }
  ]
}
